/*******      ログイン画面      *******/
* {
  margin: 0;
  padding: 0;
}

#login-body {
  height: 100%;
  background-color: #C5CAE9;
}

/* フォームの大きさ */
#login-form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

#login-form .form-field {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

#login-form input, #login-form textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 13px;
}

/*buttons*/
#login-form .form-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#login-form .form-button:hover, #login-form .form-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}

.form-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
/*******  ログイン画面ここまで   *******/